<!DOCTYPE html>
<html>
  <head>
    <title>AppleShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render  "shared/header" %>
    </div>
    <div class="container">
      <% if flash[:notice] %>
        <div class="notification global-notification">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="notification global-notification">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
        <%= yield %>
    </div>
  </body>
</html>
